*.eml
*.iml
*.ipr
*.iws
*.log
*~
*.class
.classpath
.idea
.project
.settings
nb-configuration.xml
patch-process
target
build
lib
cloudera
out
*.jar
*.avsc
Newegg_Subscription_Programs.java
*.gz
mytest